<div class="trail-header">
  <h3>LET'S HIT THE TRAILS</h3>
</div>

<div class="row trail-row">
  <% @trails.each do |trail| %>
    <div class="col-xs-12 col-sm-4 col-md-4 trail-column">
      <%= link_to trail do %>
        <div class="img-overlay">
          <%= image_tag(trail.image_one, class: "img-responsive small-trail-img") %>
          <div class="index-overlay">
            <%= image_tag(trail.trail_icon, class: "trail-icon") %>
            <h4><%= trail.name %></h4>
            <div class="small-orange-line">
            </div>
            <p><%= trail.distance %> | <%= trail.difficulty_level %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<br>

<!-- <div>
<%= link_to 'New Trail', new_trail_path %>
</div> -->