<div class="show-header-image">
  <%= image_tag(@trail.header_image, class: "img-responsive large-header-img") %>
    <h3><%= @trail.name %></h3>
</div>

<div class="trail-info-container container">
  <h4>OVERVIEW</h4>
  <div class="small-orange-line">
  </div>
  <p class="overview"><%= @trail.overview %></p>
  <div class="the-basics">
    <div class="the-basics-header">
      <h4>THE BASICS</h4>
    </div>
    <div class="basic-info">
    <p>
      <strong>DIFFICULTY LEVEL:</strong>
      <%= @trail.difficulty_level %>
    </p>
    <p>
      <strong>DISTANCE:</strong>
      <%= @trail.distance %>
    </p>
    <p>
      <strong>TERRAIN:</strong>
      <%= @trail.terrain %>
    </p>
    <p>
      <strong>ELEVATION:</strong>
      <%= @trail.elevation %> METRES
    </p>
    <p>
    <strong>HANDY HINT:</strong>
      <%= @trail.handy_hint %>
    </p>
    </div>
  </div>

  <iframe src="https://www.doogal.co.uk/StravaRoute.php?id=<%= @trail.route_id %>&embed=true&segments=false&title=false&streetView=false"
 width="600" height="850" frameborder="0"></iframe>
  
  <div class="instagram-feed">
    <p>Join the TRC team. #trailrunsydney</p>
  <div id="instafeed"></div>
    
  </div>

</div>

<div class="back-to-trails">
  <%= link_to 'Back To Trails', trails_path, class:'green-link' %>
</div>