<!DOCTYPE html>
<html>
  <head>
    <title>Trail Run Sydney</title>
    
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:200,400i,400,500,600,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-default">
      <div class="nav-container">
        <a class="brand" href="#">
            <%= image_tag("trs-logo-white.png", :alt => "nf-logo", :class => "img-responsive trs-nav-logo") %>
        </a>
        <ul class="nav nav-pills pull-left">
          <li><a href="#">HOME</a></li>
          <li><a href="#">TRAILS</a></li>
          <li><a href="#">CONTRIBUTE</a></li>
        </ul>
        <ul class="nav nav-pills pull-right">
            <li><a href="#">CONTACT</a></li>
            <li><a href="#" class="social-media-links"><i class="fa fa-instagram social-media-insta" aria-hidden="true"></i></a></li>
            <li><a href="#" class="social-media-links"><i class="fa fa-facebook social-media-fb" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div> 



    <%= yield %>
  </body>

  <div class="footer">
    <h4 class="footer-header">BACK TO TOP</h4>
      <div class="row footer-row">
        <div class="col-xs-4 col-sm-4 col-md-4">
          <p class="footer-paragraph">EMAIL<br>nic@trailrunsydney.com</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <p class="footer-paragraph">JOIN THE TRS CLUB<br><span class="italic">#trailrunsydney</span></p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <a href="#" class="social-media-links"><i class="fa fa-instagram social-media-insta" aria-hidden="true"></i></a>
          <a href="#" class="social-media-links"><i class="fa fa-facebook social-media-fb" aria-hidden="true"></i></a>
        </div>
      </div>




    <footer>
      <p>Design: www.georgiamather.com | Development: Nic Fisher | @ All Rights Reserved</p>
    </footer>
  </div>
</html>
